@charset "utf-8";

/* CSS Document */

/* CeraProBold */
@font-face { 
    font-family: "CeraPro";
    font-weight: 700;
    src: url("../fonts/CeraPro/Cera Pro Black.woff") format("woff");
}

@font-face { 
    font-family: "CeraPro";
    font-weight: 600;
    src: url("../fonts/CeraPro/Cera Pro Bold.woff") format("woff");
}

@font-face { 
    font-family: "CeraPro";
    font-weight: 500;
    src: url("../fonts/CeraPro/Cera Pro Medium.woff") format("woff");
}

@font-face { 
    font-family: "CeraPro";
    font-weight: 400;
    src: url("../fonts/CeraPro/Cera Pro Regular.woff") format("woff");
}

@font-face { 
    font-family: "CeraPro";
    font-weight: 300;
    src: url("../fonts/CeraPro/Cera Pro Light.woff") format("opentype");
}

@font-face { 
    font-family: "CeraPro";
    font-weight: 200;
    src: url("../fonts/CeraPro/Cera Pro Thin.woff") format("opentype");
}

/* Spoqa Han Sans */
@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 700;
    src: local("Spoqa Han Sans Bold"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Bold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Bold.woff") format("woff"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 400;
    src: local("Spoqa Han Sans Regular"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Regular.woff2") format("woff2"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/Spoqa Han Sans Regular.woff") format("woff"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/Spoqa Han Sans Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 300;
    src: local("Spoqa Han Sans Light"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Light.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Light.woff") format("woff"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Light.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans";
    font-weight: 100;
    src: local("Spoqa Han Sans Thin"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Thin.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Thin.woff") format("woff"),
    url("../fonts/SpoqaHanSans/Spoqa Han Sans Thin.ttf") format("truetype");
}

/* Austin */

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-ExtraboldItalic.eot");
    src: local("AustinCyr-ExtraboldItalic"),
        url("../fonts/Austin/AustinCyr-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-ExtraboldItalic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-ExtraboldItalic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-ExtraboldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-FatItalic.eot");
    src: local("AustinCyr-FatItalic"),
        url("../fonts/Austin/AustinCyr-FatItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-FatItalic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-FatItalic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-FatItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-BoldItalic.eot");
    src: local("AustinCyr-BoldItalic"),
        url("../fonts/Austin/AustinCyr-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-BoldItalic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-BoldItalic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-SemiboldItalic.eot");
    src: local("AustinCyr-SemiboldItalic"),
        url("../fonts/Austin/AustinCyr-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-SemiboldItalic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-SemiboldItalic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-MediumItalic.eot");
    src: local("AustinCyr-MediumItalic"),
        url("../fonts/Austin/AustinCyr-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-MediumItalic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-MediumItalic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "AustinItalic";
    src: url("AustinCyr-Italic.eot");
    src: local("AustinCyr-Italic"),
        url("../fonts/Austin/AustinCyr-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Italic.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Italic.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Fat.eot");
    src: local("AustinCyr-Fat"),
        url("../fonts/Austin/AustinCyr-Fat.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Fat.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Fat.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Fat.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Extrabold.eot");
    src: local("AustinCyr-Extrabold"),
        url("../fonts/Austin/AustinCyr-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Extrabold.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Extrabold.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Bold.eot");
    src: local("AustinCyr-Bold"),
        url("../fonts/Austin/AustinCyr-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Bold.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Bold.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Semibold.eot");
    src: local("AustinCyr-Semibold"),
        url("../fonts/Austin/AustinCyr-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Semibold.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Semibold.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Medium.eot");
    src: local("AustinCyr-Medium"),
        url("../fonts/Austin/AustinCyr-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Medium.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Medium.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Austin";
    src: url("AustinCyr-Roman.eot");
    src: local("AustinCyr-Roman"),
        url("../fonts/Austin/AustinCyr-Roman.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Austin/AustinCyr-Roman.woff2") format("woff2"),
        url("../fonts/Austin/AustinCyr-Roman.woff") format("woff"),
        url("../fonts/Austin/AustinCyr-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

